<h1> Ingredient list </h1>
<% @ingredients.each do |ingredient| %>
  <li>
  <%= ingredient.name %>
  
  </li>
  <% end %>
  <br>
  <%# <%= link_to "Edit", edit_meal_ingredient_path(@ingredient) %> %>
<%# <%= link_to "Create a recipe", new_ingredient_path(@ingredient)%> 


