
<h3><%= @meal.title%></h3>

<% @ingredients.each do |ingredient|%>
  <% mi = @meal.meals_ingredients.find { |mi| mi.ingredient_id == ingredient.id } %>
  <li><%= ingredient.name %>
  <%# <%= link_to "Delete", meals_ingredient_path(mi), method: :delete %> 
  </li>
  
<% end%>
<br>
<%= link_to "back to Meal's List", meals_path(@meal) %>